@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/*GENERAL*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    display:block;
}

.headercontainer, .welcome, .bluecontainersection, .quote, .signupsection, .footercontent{
    width:100%;
    max-width: 1090px;
    margin-left:auto;
    margin-right:auto;
    }

/*HEADER SECTION*/

.headercontainer {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:20px;
    flex-wrap:wrap;
}

header {
    background:#1F2947;
    height:150px;
}

.logo {
    color:#F9FAF8;
    font-size:24px;
}

.links {
    display:flex;
}

.links a:hover {
    color:#D3D3D3;
}

a {
    margin-left: 20px;
    color:#FFFFFF;
    text-decoration:none;
}

ul {
    list-style:none;
}

/*WELCOME SECTION*/


.picture {
    display:block;
  }
  
  img {
    display:block;
    width:100%;
    height:auto;
  }
  
  .welcome-area a {
    text-decoration:none;
    color:#000000;
  }
  
  .main {
    flex:1;
  }
  
  .welcome-area {
    display:flex;
    flex-direction:row-reverse;
    flex-basis:50%;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding-bottom:40px;
    gap:70px;
  }
  
  .welcome-area .picture {
    flex-basis:50%;
  }
  
  .welcome .text h1 {
    font-size:48px;
    font-weight:bolder;
    color:#f9fAf8;
    margin-top:46px;
  }
  
  .welcome .text p {
    font-size:18px;
    color:#E5E7EB;
    margin-top:-30px;
  }
  
  .welcome .text a {
    background-color:#3882F6;
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    padding:7px 20px;
    border-radius:6%;
    display:inline-block;
  }
  
  .button {
    display:block;
    color:#FFFFFF;
    background:#3882f6;
    border-radius:5px;
    border:none;
    padding:8px 29px;
    cursor:pointer;
  }
  
  .button:hover {
    color: #3882F6;
    background-color:#FFFFFF;
    border-radius:5px;
  }
  
  .welcome .text {
  margin-top:-50px;
  }
  
  .welcomesection {
  background:#1f2947;
  }
  
/*BLUE CONTAINER*/

.bluecontainertitle {
    font-size:36px;
    color:#1F2937;
    text-align:center;
}

.bluecontainers {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:150px;
    flex-wrap:wrap;
}

.bluecontainer {
    width:200px;
    height:200px;
    padding:20px;
}

.bluebox {
    width:160px;
    height: 160px;
    border-radius:10px;
    border-color:#3882F6;
    border-style:solid;
}

.bluetext {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:center;
    color: #1F2937;
}

/*QUOTE SECTION*/

.quotesection {
    background:#E5E7EB;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:400px;
}

.quote {
    font-size:36px;
    display:flex;
    justify-content:center;
    font-style:italic;
}

.author {
    font-size:22px;
    font-weight:bold;
    margin-top:-40px;
    margin-left:520px;
}